* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

div.article {
  height: 95vh;
  background-image: url("./img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header > * {
  display: inline-block;
  margin-top: 10px;
}

header > div.timer {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 20px;
}

header > div.count {
  width: 60px;
  border: 1px solid black;
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #ff6666;
}

div.topBtn {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #99ffc8;
}

div.topBtn > i {
  padding: 10px 20px;
  font-size: 2rem;
}

div.topBtn,
div.redoBtn {
  cursor: pointer;
}

div.topBtn:hover,
div.redoBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section.ground {
  height: 50%;
}

div.modalcontainer {
  position: absolute;
  bottom: 5vh;
  left: 0;
  width: 100vw;
  height: 50%;
}

div.modalcontainer > div.modal {
  position: absolute;
  left: 35%;
  bottom: 20%;
  width: 30%;
  height: 40%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.modalcontainer > div.modal > div.redoBtn {
  background-color: #99ffc8;
  border: 1px solid black;
  border-radius: 10px;
}

div.modalcontainer > div.modal > div.redoBtn > i {
  padding: 10px;
}

div.item {
  cursor: pointer;
  position: absolute;
}

div.item > img {
  display: block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

div.item:hover > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: #a68f1f;
  font-size: 0.8rem;
}

footer > a {
  color: #731f0d;
  margin-left: 20px;
  font-size: 1.5rem;
}

footer > a :hover {
  color: black;
}

/* HIDDEN */
.hidden {
  visibility: hidden;
}

input[type="radio"] {
  width: 0;
  height: 0;
  position: absolute;
}

input[type="radio"] + label {
  margin: 0;
  padding: 0.75em 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #fff;
  background-color: #fff;
  line-height: 140%;
  text-align: center;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: #a68f1f;
  border-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
          box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */